[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"coveo-push-api-client.py" = {editable = true, path = "."}

[dev-packages]
tox = ">=4.0,<5"
virtualenv = ">=20.25,<21"
sphinx = "*"
requests-mock = "*"

[requires]
python_version = "3.9"
