[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"coveo-push-api-client.py" = {editable = true, path = "."}
requests = "2.25.1"

[dev-packages]
tox = "*"
sphinx = "*"

[requires]
python_version = "3.9"
